<div id="indexBody" class="container-fluid">
	<div class='span12'>
		<h1>Welcome to my website!</h1>
		<h2>More fun stuff is still to come!</h2>
		<h3>Like the link below!</h3>
		<a href="https://github.com/slgreenberg/tracker">A link to the repo for this site!</a>
		<br></br>
		<a href="workouts#index">Click here to log a new workout!</a>
</div>